[mysqld]
autocommit = ON
auto_increment_increment = 1
auto_increment_offset = 1
back_log = 300
bind_address = 0.0.0.0
binlog_cache_size = 262144
binlog_format = ROW
binlog_row_event_max_size = 268435456
binlog_stmt_cache_size = 32768
bulk_insert_buffer_size = 8388608
character_set_filesystem = utf8
character_set_server = utf8mb4
collation_server = utf8mb4_unicode_ci
completion_type = NO_CHAIN
concurrent_insert = AUTO
connect_timeout = 10
default_storage_engine = InnoDB
default_week_format = 0
delayed_insert_limit = 100
delayed_insert_timeout = 300
delayed_queue_size = 100
delay_key_write = ON
div_precision_increment = 4
eq_range_index_dive_limit = 0
event_scheduler = OFF
expire_logs_days = 3
group_concat_max_len = 10240
host_cache_size = 1029
innodb_adaptive_flushing = ON
innodb_adaptive_hash_index = ON
innodb_autoextend_increment = 64
innodb_autoinc_lock_mode = 2
innodb_buffer_pool_instances = 2
innodb_buffer_pool_size = 2362232013
innodb_change_buffering = none
innodb_checksums = ON
innodb_commit_concurrency = 0
innodb_concurrency_tickets = 5000
innodb_data_file_path = ibdata1:1000M:autoextend
innodb_disable_sort_file_cache = ON
innodb_doublewrite = ON
innodb_fast_shutdown = 1
innodb_file_per_table = ON
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
innodb_flush_neighbors = 0
innodb_io_capacity = 20000
innodb_io_capacity_max = 40000
innodb_large_prefix =
innodb_lock_wait_timeout = 45
innodb_log_buffer_size = 33554432
innodb_log_compressed_pages = OFF
innodb_log_files_in_group = 4
innodb_log_file_size = 1048576000
innodb_lru_scan_depth = 1024
innodb_max_dirty_pages_pct = 50
innodb_max_undo_log_size = 1073741824
innodb_old_blocks_pct = 25
innodb_old_blocks_time = 3000
innodb_open_files = 4096
innodb_print_all_deadlocks = ON
innodb_purge_batch_size = 300
innodb_purge_threads = 4
innodb_read_ahead_threshold = 56
innodb_read_io_threads = 4
innodb_spin_wait_delay = 12
innodb_stats_method = nulls_unequal
innodb_stats_on_metadata = OFF
innodb_stats_persistent_sample_pages = 32
innodb_stats_sample_pages = 32
innodb_strict_mode = ON
innodb_sync_spin_loops = 90
innodb_table_locks = ON
innodb_thread_concurrency = 4
innodb_thread_sleep_delay = 10000
innodb_undo_tablespaces = 3
innodb_use_native_aio = ON
innodb_write_io_threads = 4
interactive_timeout = 300
join_buffer_size = 262144
key_buffer_size = 2147483648
key_cache_age_threshold = 300
key_cache_block_size = 4096
key_cache_division_limit = 20
local_infile = OFF
lock_wait_timeout = 600
#log-bin = /var/log/mysql/mysql-bin
log-bin-index = /var/log/mysql/mysql-bin.index
log-error = /var/log/mysql/mysqld_error.log
log_bin_trust_function_creators = ON
log_output = FILE
log_queries_not_using_indexes = OFF
log_slave_updates = ON
log_slow_slave_statements = ON
long_query_time = 1
lower_case_table_names = 1
low_priority_updates = OFF
max_allowed_packet = 67108864
max_binlog_cache_size = 18446744073709547520
max_binlog_size = 536870912
max_binlog_stmt_cache_size = 4294967296
max_connections = 4000
max_connect_errors = 2000
max_heap_table_size = 134217728
max_length_for_sort_data = 4096
max_prepared_stmt_count = 1048575
max_relay_log_size = 524288000
max_sp_recursion_depth = 255
max_user_connections = 4000
max_write_lock_count = 10000
metadata_locks_hash_instances = 256
myisam_block_size = 4096
myisam_max_sort_file_size = 2097152
myisam_sort_buffer_size = 33554432
myisam_stats_method = nulls_unequal
net_buffer_length = 16384
net_read_timeout = 30
net_retry_count = 10
net_write_timeout = 60
open_files_limit = 102400
#optimizer_switch = index_condition_pushdown=on,mrr=on,mrr_sort_keys=on,mrr_cost_based=off,join_cache_incremental=on,join_cache_hashed=on,join_cache_bka=on,rowid_filter=off,optimize_join_buffer_size=on
performance_schema = OFF
performance_schema_max_cond_classes = 80
performance_schema_max_statement_classes = 204
port = 3306
profiling_history_size = 5
query_alloc_block_size = 8192
query_cache_limit = 0
query_cache_min_res_unit = 1024
query_cache_size = 0
query_cache_type = OFF
query_prealloc_size = 8192
read_buffer_size = 4194304
read_rnd_buffer_size = 8388608
relay_log_purge = ON
relay_log_recovery = OFF
relay_log_space_limit = 107374182400
skip_external_locking = 1
skip_name_resolve = ON
slave_compressed_protocol = 0
slave_load_tmpdir = /var/lib/mysql
slave_net_timeout = 30
slow_launch_time = 2
slow_query_log = ON
slow_query_log_file = /var/log/mysql/mysqld_slow.log
sort_buffer_size = 8388608
sql_mode = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
sync_binlog = 100
table_definition_cache = 2097
table_open_cache = 2097
table_open_cache_instances = 4
thread_cache_size = 512
thread_handling = one-thread-per-connection
thread_stack = 524288
tmpdir = /var/lib/mysql
tmp_table_size = 134217728
transaction_isolation = READ-COMMITTED
wait_timeout = 300
